/arcs.py
/BOUNCE.py
/chooseColor.py
/class.py
/Complecatedinputs.py
/coolShape.py
/draw.py
/drawingBoxNoCorners.py
/drawingSquare.py
/elif.py
/forLoops.py
/functions.py
/hi.py
/ifStatments.py
/images.py
/input.py
/maps.py
/moreclassses.py
/percent_s.py
/polygons.py
/sys.py
/text.py
/time.py
/tuples.py
/__pycache__